body {
	scrollbar-base-color:#bae87c;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-shadow-color:#c1ea8b;
	padding:0px;
	margin:auto;
	text-align:center;
	/*整个页面的背景色[注意: 页面背景衬托菜单选项背景]*/
	background-color:#9ad075;
}

/* 所有标签的样式 */
*{
	font-size: 14px;
	font-family: "宋体";
}

ul {  padding-top:3px; }
li {  height:22px; }

li,dd {
  list-style-type:none; /* 去掉项目点 */ 
  margin:0px; 
  padding:0px; 
}

.sitemu li {
	padding:0px 0px 0px 10px;
	line-height:24px;
	/* 菜单前的小方块图标 */
	background:url(../img/frame/arr4.gif) no-repeat 10px 9px;
}
dl.bitem {
	width:148px;
	margin:0px 0px 5px 4px;
}

dl.bitem dt {
	/* 模块 标题项的背景 */
	background:url(../img/frame/menubg.gif);
  	height:26px;
  	line-height:26px;
  	text-align:center;
  	cursor:pointer;
}

dl.bitem dd {
	/* 模块 子选项的背景及间距*/
  	background-color:#ffffff;
  	padding:3px 3px 3px 3px;
}

ul,ol,div{ margin: 0; padding:0; }

div {
	word-break: break-all; /* 允许长单词(或字符串)在任意位置换行 */
	word-wrap:break-word; /* 允许长单词(或字符串)换行显示 */
}

b,strong {
	color:#666600;
}

/* 超链接的字体、大小、颜色、没有下划线*/
a:link { 
	font-size: 10pt; 
	color: #0000ff; 
	text-decoration: none; 
	font-family: ""宋体""; 
}

/* 已被访问的链接产生效果 */
a:visited{ 
	font-size: 9pt; 
	color: #000000; 
	text-decoration: none; 
	font-family: ""宋体""; 
}

/* 当鼠标位于其上的链接时产生的反应 */
a:hover {
	color: red; 
	background-color: #c0cc0c;
	font-family: ""宋体"";	
}

/* 凡是a标签下的所有img标签 均没有边框线*/
a img { border-style:none; }

/* 凡是b标签下的所有a标签 均为这种颜色*/
b a {
	color:#666600;
}
